// Оголошення міксіна для стилів шрифтів
@mixin font-styles {
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
    font-family: "Poppins", sans-serif;
}

// Оголошення міксіна для стилів фону
@mixin background-styles {
    background: linear-gradient(to right, #2691d9, #e9f4fb);
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0;
}

// Оголошення міксіна для стилів контейнера
@mixin container-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
}

// Оголошення міксіна для стилів блоку
@mixin box-styles {
    width: 400px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    padding: 20px;

    &:not(:last-child) {
        margin-right: 20px;
    }

    h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }

    a {
        color: #2691d9;
        text-decoration: none;
    }
}

// Оголошення міксіна для стилів заголовка
@mixin header-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #2691d9;
    color: #e9f4fb;

    h1 {
        margin-right: 10px;
        margin-bottom: auto;
    }

    img {
        max-height: 60px;
        margin-left: 20px;
    }
}

// Оголошення міксіна для стилів підвалу
@mixin footer-styles {
    background: #2691d9;
    padding: 10px;
    text-align: center;
    color: #e9f4fb;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    position: absolute;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include font-styles;
}

body {
    @include background-styles;
}

.container {
    @include container-styles;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    @include box-styles;
}

header {
    @include header-styles;
}

footer {
    @include footer-styles;
}

// Media Queries
@media only screen and (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }

    .box:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
