@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2691d9, #e9f4fb);
  height: 100vh;
  overflow: hidden; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .container .box {
    width: 500px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2; }
    .container .box h2 {
      font-size: 24px;
      margin-bottom: 10px; }
    .container .box p {
      font-size: 16px;
      margin-bottom: 10px; }
    .container .box button {
      width: 40%;
      height: 40px;
      background-color: #2691d9;
      color: #e9f4fb;
      font-size: 16px;
      font-weight: bold;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      margin-top: 20px; }
      .container .box button:hover {
        background-color: #1a6aa1; }
  .container .circle {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -72px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.17);
    z-index: 1; }
    .container .circle img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; }

footer {
  background: #2691d9;
  padding: 10px;
  /* Decreased padding to reduce the height */
  text-align: center;
  color: #e9f4fb;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 3; }

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column; }
    .container .box {
      margin-bottom: 20px; }
    .container .circle {
      margin-left: 0; } }
